@import '../../../../assets/master';


.progress-container {
    margin-top: 5%;

    .progress {
        width:80%;
        margin: 1% auto;

        .progress-label {
            width: 20%;
            font-size: 0.7rem;
            font-weight: bold;
            color: $dark-blue;
            padding-left: 5px;
            padding-right: 5px;
        }

        .progress-bar {
            background-color: $mid-purple;
        }
    }
 }
